 body
    {
       background-color: #00F700;
       color:#0000FF;
    }
    h1
    {
     color:#FF0000;
    }
    p
    {
     background-color: #FFFF00;
     color:#FF00FF;
    }
#subcabecera
{
   background-color: #FF0000;
}
.parrafo
{
   background-color: #0000FF;
}
.lista
{
   list-style-type: circle;
}
.formulario
{
   border:1px dotted #000000;
   width:40%;
   float:left;
}
.pie
{
   border:1px dotted #000000;
}
.ficha
{
   border:1px dotted #000000;
   width:54%;
   float:right;
}
.separacion
{
   clear:both;
}